.component {
  display: grid;  
  align-items: center;
  gap: 8px;
  grid-template-columns: auto auto;
  justify-content: end;
}

.component_name {
  max-width: 240px;
}

.component_image {
  max-width: 80px;
  max-height: 40px;
}

.components {
  display: grid;
  gap: 16px;
}

.components_between_buns {
  /* max-height: 464px; */
  height: calc(100vh - 604px);
  overflow-y: auto;
  display: grid;
  gap: 16px;
}

.components_between_buns::-webkit-scrollbar {
  background-color: var(--color-scrollbar);
  width: 8px;
}

.components_between_buns::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
}

.components_total {
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto;
  justify-content: flex-end;
}

.flex {
  display: flex;
  align-items: center;
}

.icon_middle{
  width: 36px;
  height: 36px;
}

.component_width {
  width: 536px;
}