.modal_window {
  width: 640px;
  background-color: #1C1C21;
  border-radius: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_button {
  background-color: transparent;
  border: none;
}

.modal_title {
  display: flex;
  justify-content: center;
  width: 604px;
}

.modal_title_number {
  display: flex;
  width: 604px;
}