.burger_ingredients {
  width: 600px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.burger_ingredients_types {
  height: calc(100vh - 324px);
  overflow-y: auto;
}

.burger_ingredients_types::-webkit-scrollbar {
  background-color: var(--color-scrollbar);
  width: 8px;
}

.burger_ingredients_types::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
}
