.app_header {
  position: relative;
  background-color: var(--color-header);
  padding-left: calc((100vw - 1320px)/2);
  padding-right: calc((100vw - 1320px)/2);
}
  
.nav_header {
  display: grid;
  grid-template-columns: 178px 197px 1fr;
  justify-items: stretch;
}

.nav_link {
  display: flex;  
  cursor: pointer;
  text-decoration: none;
  color: #8585AD;
}

.nav_link_active {
  color: #F2F2F3,
}

.nav_text{
  text-decoration: none;
  color: #8585AD;
}

.justify_end {
  justify-self: end;  
}

.logo {
  height: 40px;
  position: absolute;
  left: calc((100vw - 290px)/2);
  top: 20px;
}
